<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flight Price Predictor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    </head>
    <body class="d-flex flex-column text-center bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <nav class="navbar sticky-top navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">Flight Price Predictor</a>
                        <div class="collapse navbar-collapse position-absolute top-0 end-0" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link" href="/predict">Prices</a>                            
                            </div>
                        </div>                    
                    </div>
                </nav>
            </header>
            <main class="container">
                <div class="row justify-content-md-center">
                    <div class="col-8">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-text">This App was created for educational purposes only. The information presented here is NOT correct, precise, or up-to-date. No copyright infringement intended.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto text-white-50">
                <p>&copy; 2022 Flight Price Predictor</p>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>    
    </body>
</html>