<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Price Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-right mb-0">Flight Price Predictor</h3>
                <nav class="nav nav-masthead justify-content-center float-md-left">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/predict">Prices</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Flight Price Predictor</h1>
            <p class="lead">Welcome to Flight Price Predictor! <br>Feel free to discover your flight price!.</br></p>
            <a href="/predict" class="btn btn-lg btn-secondary font-weight-bold bg-white">Discover</a>
        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 Flight Price Predictor</p>
        </footer>
    <div>    
</body>
</html>